@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    525 Morrison Street<br />
    Chetek, WI 54728<br />
    <abbr title="Phone">P:</abbr>
    715-764-2649
</address>

<address>
    <strong>Email:</strong><a href="mailto:eric.l.goettl@gmail.com">eric.l.goettl@gmail.com</a>
</address>