@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="page-header">
        <img src="~/Images/myself.png" class="img-circle" alt="Eric's Profile Picture" />
        <h1>Professional Software Developer</h1>
        <p class="lead">Think twice, code once.</p>
    </div>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Videos</h2>
        <p>
            Sometimes the best way to retain what you've learned is to teach someone else.
            Take a look at some of the videos put together to help teach others about computers,
            and coding.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>
            Daily blogs that discuss everything from new technology to things I've learned with programming code.
        </p>
        <p><a class="btn btn-default"@Html.ActionLink("View Blog", "Index", "Blogs")</p>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            Want to know what I've been working on?  Here are just some of the projects I've done or are currently working on.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>